/*
 * typeography
 */

$font-family-heading: "Arial Black", sans-serif;
$font-family-body: Georgia, Times, serif;

$font-bold: 700;
$font-thin: 300;

$text-xl: 18px;
$text-lg: 16px;
$text-md: 14px;
$text-sm: 12px;
$text-xs: 10px;



/*
 * Device Widths
 */

$screen-xs: 479px;
$screen-sm: 767px;
$screen-md: 1023px;
$screen-lg: 1299px;
$screen-xl: 1699px;



/*
 * layout
 */

$xxs:   5px;
$xs:    10px;
$sm:    15px;
$md:    20px;
$lg:    30px;
$xl:    40px;
$xxl:   50px;



/*
 * borders
 */

$border-xxs: 1px;
$border-xs:  2px;
$border-sm:  3px;
$border-md:  4px;
$border-lg:  5px;
$border-xl:  6px;
$border-xxl: 7px; 